/* src/index.css */
body {
    margin: 0;
    font-family: 'YourCustomFont', sans-serif;
    background-color: #f8f9fa;
    }

h2, .navbar-brand {
    color: #343a40;
    }

.navbar, .card {
    background-color: #343a40;
    color: #ffffff;
    }

.nav-link {
    color: #ffffff !important;
    }

.card-title {
    color: #ffc107;
    }
